.jumbotron {
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(88, 87, 87) !important;
  color: white;
}

.form-control {
  max-width: 300px !important;
}

thead {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #22dac1;
  color: white;
}

.clickable {
  cursor: pointer;
  padding: 10px;
}

thead span.descending::after {
  content: "⬇";
  display: inline-block;
  margin-left: 3px;
}

thead span.ascending::after {
  content: "⬆";
  display: inline-block;
  margin-left: 3px;
}
